.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 150px;

  .contact-title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--dark);
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  .contact-description {
    font-size: 15px;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
  }

  .contact-block {
    display: flex;
    width: 100%;
  }
}

.block-1 {
  width: 40%;
  background-color: var(--white);
  padding: 20px 25px;
  margin-right: 25px;
  border-top: 4px solid var(--primary);
  border-bottom: 4px solid var(--primary);
  height: 500px;

  .address {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    i {
      font-size: 19px;
      min-width: 50px;
      height: 50px;
      color: var(--primary);
      background-color: #eee;
      text-align: center;
      border-radius: 50%;
      line-height: 50px;
      margin-right: 15px;

      &:hover {
        background-color: var(--primary);
        color: var(--white);
      }
    }

    .address-details {
      color: var(--dark);

      p:first-child {
        font-size: 1.5rem;
      }

      p:last-child {
        font-size: 14px;
      }
    }
  }

  .email {
    @extend .address;

    .email-details {
      @extend .address-details;
    }
  }

  .phone {
    @extend .address;

    .phone-details {
      @extend .address-details;
    }
  }

  .map {
    // border: 1px solid black;
    height: 210px;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.block-2 {
  width: 60%;
  padding: 20px 25px;
  background-color: var(--white);
  border-top: 4px solid var(--primary);
  border-bottom: 4px solid var(--primary);
  height: 500px;
}

form {
  .form-row {
    display: flex;
    justify-content: space-between;
    .form-group {
      input {
        width: 280px;
      }
    }
  }
  .form-group {
    display: flex;
    flex-direction: column;

    label {
      color: #222;
      margin-bottom: 5px;
    }

    input,
    textarea {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      padding: 10px;
      border: 1px solid var(--light);
      border-radius: 5px;
      font-size: 1rem;
      outline: none;
      color: #444;

      &:focus {
        border: 1px solid var(--primary);
      }
    }

    textarea {
      height: 150px;
    }
  }

  .btn-container {
    display: flex;
    justify-content: center;

    button {
      padding: 10px 25px;
      font-size: 1rem;
      cursor: pointer;
      background-color: var(--primary);
      border: none;
      outline: none;
      color: var(--white);
      border-radius: 5px;
      margin-top: 10px;
      opacity: 0.9;
      transition: opacity 0.3s ease-in;

      &:hover {
        background-color: var(--secondary);
        opacity: 1;
      }
    }
  }
}

@media (max-width: 1300px) {
  .form-row {
    .form-group {
      input {
        width: 225px !important;
      }
    }
  }
}

@media (max-width: 1100px) {
  .contact-container {
    margin: 10px 30px;
  }

  .form-row {
    .form-group {
      input {
        width: 200px !important;
      }
    }
  }
}

@media (max-width: 800px) {
  .contact-container {
    margin: 10px 25px;
  }

  .contact-block {
    flex-direction: column;
    justify-content: center !important;
    width: 100%;
  }

  .form-row {
    .form-group {
      input {
        width: 280px !important;
      }
    }
  }

  .block-1,
  .block-2 {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 660px) {
  .block-1,
  .block-2 {
    height: auto;
  }
  .form-row {
    flex-direction: column;
    .form-group {
      input {
        width: 100% !important;
      }
    }
  }
}
